<!DOCTYPE html>
<html>
<head>
    <title>I Ching Readings</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body class="container mt-5">
    <h2 class="mb-4">Welcome, {{ session.username }}</h2>
    <form method="post" action="{{ url_for('index') }}">
        <div class="mb-3">
            <label for="question" class="form-label">Enter your question:</label>
            <textarea class="form-control" name="question" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-success">Get Reading</button>
    </form>

    <p>{{ reading.replace('\n', '</p>\n<p>')|safe }}</p>
    <h3 class="mt-5">Your Last 10 Readings</h3>
    <table class="table table-bordered table-striped mt-3">
        <thead class="table-dark">
            <tr>
                <th>Type</th>
                <th>Question</th>
                <th>Tokens</th>
                <th>Reading</th>
            </tr>
        </thead>
        <tbody>
            {% for question, hexagram, reading in history %}
            <tr>
                <td>{{ question }}</td>
                <td>{{ hexagram }}</td>
                <td>{{ reading.replace('\n', '<br />')|safe }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
